<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.MYDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\yarin\source\repos\Client\Client\MYDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Client.Properties.Settings.C__USERS_YARIN_SOURCE_REPOS_CLIENT_CLIENT_MYDB_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\YARIN\SOURCE\REPOS\CLIENT\CLIENT\MYDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
